* {
    font-family: 'Tajawal';
}

.navbar-brand {
    font-style: normal;
    font-weight: 550;
    font-size: 25px;
    line-height: 28px;
    letter-spacing: 0.04em;
    margin: auto;
}

.navbar-title {
    display: inline;
    margin-top: 10px;
}

.navbar-logo {
    margin-bottom: 5px;
    width: 30px;
    height: 25px;
    margin-right: 3px;
}

.navbar {
    background: rgba(196, 196, 196, 0.14);
    box-shadow: 0px -4px 15px rgba(0, 0, 0, 0.20);
}

.login-container {
    width: 1301px;
    height: 140px;
    background-image:
        radial-gradient(circle at 5.5px, #114b7138 14.25px, rgba(255,255,255,0) 2.25px),
        radial-gradient(circle, #114b7138 9.25px, rgba(255,255,255,0) 2.25px),
        radial-gradient(circle at 5.5px, #114b7138 14.25px, rgba(255,255,255,0) 2.25px),
        radial-gradient(circle, #114b7138 9.25px, rgba(255,255,255,0) 2.25px);
    background-position: top, right, bottom, left;
    background-size: 41px 1px, 1px 41px;
    background-repeat: repeat-x, repeat-y;
    filter: drop-shadow(0px 0px 4px rgba(0, 0, 0, 0.5));
    margin: auto;
}